/*
 * Make our date range displays less blocky and horrible.
 */
.page-node-edit .field-name-field-auditioneer-timerange div.start-date-wrapper,
.page-node-edit .field-name-field-auditioneer-timerange div.end-date-wrapper,
.page-node-edit .field-name-field-auditioneer-timerange div.end-date-wrapper label,
.page-node-edit .field-name-field-auditioneer-timerange div.end-date-wrapper div,
.page-node-add .field-name-field-auditioneer-timerange div.start-date-wrapper,
.page-node-add .field-name-field-auditioneer-timerange div.end-date-wrapper,
.page-node-add .field-name-field-auditioneer-timerange div.end-date-wrapper label,
.page-node-add .field-name-field-auditioneer-timerange div.end-date-wrapper div {
  clear:none;
  display:inline-block;
  width:auto;
  float:left;
}
.page-node-edit .field-name-field-auditioneer-timerange div.end-date-wrapper label,
.page-node-add .field-name-field-auditioneer-timerange div.end-date-wrapper label {
  vertical-align:middle;
}

.page-node-edit .field-name-field-auditioneer-restrict-slot div.description,
.page-node-add .field-name-field-auditioneer-restrict-slot div.description {
  white-space:normal;
}

.page-node-edit .field-name-field-auditioneer-collect div.form-item,
.page-node-add .field-name-field-auditioneer-collect div.form-item,
.page-node-edit .field-name-field-auditioneer-restrict-slot div.form-item,
.page-node-add .field-name-field-auditioneer-restrict-slot div.form-item {
  display:inline-block;
  padding-right:1em;
}

/*
 * Hide the unnecessary second calendar popup for audition block time ranges,
 * which can never span more than one day.
 */
.page-node-edit .field-name-field-auditioneer-timerange .end-date-wrapper .date-padding div:first-child,
.page-node-add .field-name-field-auditioneer-timerange .end-date-wrapper .date-padding div:first-child {
  display:none;
}

.page-content .node-auditioneer-audition .field-name-field-auditioneer-time-blocks {
  font-weight:bold;
  font-size:1.2em;
}
.page-content .node-auditioneer-audition .field-label {
  padding-top:0.5em;
}

form.auditioneer_audition_signup .audition_signup_submit {
  margin-top:3em;
  float:right;
  font-size:2.5em;
}

form.auditioneer_audition_signup div.auditioneer_audition_timeblock {
  display: inline-block;
  clear:left;
}
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .auditioneer_audition_timeblock_text,
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .auditioneer_audition_timeblock_paint,
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .checkbox,
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .checkbox input {
  position:static;
  clear:both;
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
  font-size:1.3em;
}
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .auditioneer_audition_timeblock_paint {
  height:2em;
  float:left;
  margin-bottom:0.2em;
  height:auto;
  width:auto;
  padding:0.3em;
  margin-right:0.1em;
  white-space:nowrap;
  cursor:pointer;
}
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .auditioneer_audition_timeblock_paint_unchecked {
  background-color:LightPink;
  border:1px solid gray;
  color:white;
}
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .auditioneer_audition_timeblock_paint_checked {
  background-color:PaleGreen;
  border:1px solid gray;
  color:black;
}
form.auditioneer_audition_signup div.auditioneer_audition_timeblock .auditioneer_audition_timeblock_paint_disabled {
  cursor:not-allowed;
  border:1px solid lightgray;
  opacity: 0.6;
}

.auditioneer_pending {
  background-color:#eeff82;
}

form.auditioneer_audition_signup fieldset.auditioneer_audition_timeblock_day {
  display:inline-block;
  padding:1em !important;
  clear:none;
  float:left;
  border:none;
  margin-top:0px;
}

form.auditioneer_audition_signup fieldset.auditioneer_audition_timeblock_day h4.auditioneer_audition_timeblock_day_title {
  font-size:1.5em;
  display:block;
  font-weight:bold;
}
form.auditioneer_audition_signup div.auditioneer_audition_infoblock {
  clear:both;
  font-size:1.3em;
  display:inline-block;
  width:95%;
  height:auto;
  margin-bottom:1em;
}
form.auditioneer_audition_signup div.auditioneer_audition_address,
form.auditioneer_audition_signup div.auditioneer_audition_instructions {
  display:inline-block;
  text-decoration:none;
  text-align:left;
  float:left;
  padding-right:3em;
}
form.auditioneer_audition_signup div.auditioneer_audition_address {
  width:35%;
}
form.auditioneer_audition_signup div.auditioneer_audition_instructions {
  width:50%;
}
form.auditioneer_audition_signup div.auditioneer_audition_deadline {
  width:40%;
  float:left;
}
form.auditioneer_audition_signup div.auditioneer_audition_message {
  text-decoration: underline;
  float:left;
  width:60%;
}
form.auditioneer_audition_signup div.auditioneer_audition_detailed_message {
  float:left;
  width:90%;
}
form.auditioneer_audition_signup fieldset.auditioneer_audition_signup_dummy_panel {
  display:none;
}

form.auditioneer_audition_signup div.auditioneer_audition_signup_banner {
  position:absolute;
  color:white;
  vertical-align:middle;
  text-align: center;
  width:125px;
  height:125px;
  top: 0px;
  right: 0px;
  overflow:hidden;
}
form.auditioneer_audition_signup fieldset.auditioneer_audition_signup_wrapper{
  background-color:#f7f7f7;
}
form.auditioneer_audition_signup fieldset.auditioneer_audition_signup_wrapper > legend {
  display:none;
}
form.auditioneer_audition_signup span.auditioneer_audition_signup_banner_text {
  transform: rotate(45deg);
  transform-origin: top left;
  position:absolute;
  width: 200px;
  height: 36px;
  line-height:36px;
  top: -35px;
  right: -96px;
  font-size: 1.1em;
  font-weight:bold;
}
form.auditioneer_audition_signup div.auditioneer_audition_slot_type_radios {
  font-size:1.3em;
  clear:both;
  display:block;
}

form.auditioneer_audition_signup div.auditioneer_audition_slot_type_radios .form-type-radios {
  margin-bottom:0px;
  margin-top:0px;
}
form.auditioneer_audition_signup div.auditioneer_audition_slot_type_radios .form-type-radios > label {
  font-weight:bold;
  margin-top:0px;
}
form.auditioneer_audition_signup div.auditioneer_audition_slot_type_radios div.form-item {
  display:inline-block;
}
form.auditioneer_audition_signup span.form-required {
  color:red;
}

.audition_signup_mgmt_wholeform {
  display:block;
  clear:both;
  position:relative;
}
.audition_signup_mgmt_wholeform > form > div {
  position:relative;
}
div.audition_signup_mgmt_form {
  width:75%;
  float:left;
  display:inline-block;
  -webkit-column-count: 4;
  -webkit-column-gap: 10px;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 10px;
}
div.audition_mgmt_unassigned_list {
  width:25%;
  display:inline-block;
  position:relative;
  overflow:hidden;
}
div.audition_mgmt_unassigned_list > fieldset,
div.audition_mgmt_unassigned_list > fieldset > div.fieldset-wrapper {
  height:100%;
  overflow:hidden;
}
div.audition_mgmt_unassigned_list > fieldset > div.fieldset-wrapper > div.audition_rejectlist {
  height:30%;
  overflow-y:scroll;
}
div.audition_mgmt_unassigned_list > fieldset > div.fieldset-wrapper > div.audition_waitlist {
  padding-top:1em;
  height:70%;
  overflow-y:scroll;
}

div.audition_rejectlist fieldset,
div.audition_signup_mgmt_form fieldset.audition-mgmt-group-block {
  font-size:small;
  padding-top:0px;
  padding-bottom:0px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
div.audition_rejectlist > fieldset > div.fieldset-wrapper,
div.audition_waitlist > fieldset > div.fieldset-wrapper,
div.audition_rejectlist > fieldset,
div.audition_waitlist > fieldset {
  position:relative;
  height:100%;
}

div.audition_mgmt_unassigned_list fieldset,
div.audition_waitlist fieldset,
div.audition_rejectlist fieldset,
div.audition_signup_mgmt_form fieldset {
  margin-top:0px;
  border:none;
  padding:0px;
}
/*
div.audition_signup_mgmt_form fieldset.form-wrapper div.fieldset-wrapper fieldset.form-wrapper {
  border:none;
  padding:0px !important;
}
*/
fieldset.audition_mgmt_waitlist_entry,
fieldset.audition_mgmt_reject_entry,
fieldset.audition_mgmt_slot_entry {
  margin:0.1em;
  white-space:nowrap;
  border-radius:0.5em;
  position:relative;
}
fieldset.audition_mgmt_waitlist_entry > legend,
fieldset.audition_mgmt_reject_entry > legend,
fieldset.audition_mgmt_slot_entry > legend {
  position:relative;
  height:100%;
}
fieldset.audition_mgmt_waitlist_entry > div.fieldset-wrapper,
fieldset.audition_mgmt_reject_entry > div.fieldset-wrapper,
fieldset.audition_mgmt_slot_entry  > div.fieldset-wrapper {
  padding:0px;
  padding-right:0.1em;
}
div.audition_signup_mgmt_wholeform .reject {
  background-color:LightPink;
}
div.audition_signup_mgmt_wholeform .saved {
  background-color:PaleGreen;
}
div.audition_signup_mgmt_wholeform .unsaved {
  background-color:LightGoldenRodYellow;
}
div.audition_signup_mgmt_wholeform .unassigned {
  background-color:WhiteSmoke;
}
div.audition_signup_mgmt_form fieldset.unsaved legend .audition_mgmt_table_auditioner_label:before {
  content:"* ";
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry:hover,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry:hover,
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry:hover {
  background-color:gray;
  color:white;
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry a,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry a,
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry a {
  font-weight:bold;
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry:hover a,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry:hover a,
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry:hover a {
  color:white;
  text-decoration:underline;
}
fieldset.audition_mgmt_waitlist_entry div.fieldset-wrapper,
fieldset.audition_mgmt_reject_entry div.fieldset-wrapper,
fieldset.audition_mgmt_slot_entry div.fieldset-wrapper {
  display:inline-block;
  margin:0px;
  padding:0px;
  float:right;
  position:relative;
}
div.audition_waitlist input.audition_signup_mgmt_button,
div.audition_rejectlist input.audition_signup_mgmt_button,
div.audition_signup_mgmt_form input.audition_signup_mgmt_button {
  display:inline-block;
  position:relative;
  float:right;
  margin:0px;
  padding:0px;
  max-height:1em;
  max-width:1em;
}
div.audition_signup_mgmt_form .form-item-weight {
  display:none;
}
fieldset.audition_mgmt_waitlist_entry img.audition_signup_mgmt_button,
fieldset.audition_mgmt_reject_entry img.audition_signup_mgmt_button,
fieldset.audition_mgmt_slot_entry img.audition_signup_mgmt_button {
  height:1.1em;
  position:relative;
  margin:0px;
  float:right;
  padding:0px;
  margin-right:0.8em;
  background-color:#e4e4e4;
  border-bottom:1px solid #b4b4b4;
  border-right:1px solid #b4b4b4;
  border-radius:0.6em;
}
div.content > a > img.audition_signup_mgmt_button {
  margin-left:0.5em;
  height:1.1em;
}
div.audition_waitlist .audition_mgmt_table_auditioner_label,
div.audition_rejectlist .audition_mgmt_table_auditioner_label,
div.audition_signup_mgmt_form fieldset.audition-mgmt-group-block .audition_mgmt_table_auditioner_label {
  padding:0.1em;
  padding-left:0.3em;
  white-space:nowrap;
}
div.audition_waitlist legend,
div.audition_rejectlist legend,
div.audition_signup_mgmt_form fieldset.audition-mgmt-group-block legend {
  display:inline-block;
  float:left;
}
div.audition_waitlist legend span.fieldset-legend,
div.audition_rejectlist legend span.fieldset-legend,
div.audition_signup_mgmt_form > fieldset > legend span.fieldset-legend,
div.audition_signup_mgmt_form fieldset.audition-mgmt-group-block legend span.fieldset-legend {
  position:relative;
  text-transform:none;
  padding-left:0px;
}
div.audition_waitlist .audition_mgmt_table_auditioner_label,
div.audition_rejectlist .audition_mgmt_table_auditioner_label,
div.audition_signup_mgmt_form fieldset.audition-mgmt-group-block .audition_mgmt_table_auditioner_label {
  font-size:0.8em;
  line-height:1.1em;
}
div.audition_waitlist > fieldset > legend,
div.audition_signup_mgmt_form > fieldset > legend,
div.audition_rejectlist > fieldset > legend {
  display:block;
  clear:both;
  font-size:large;
  position:relative;
}
div.audition_waitlist > fieldset > div.fieldset-wrapper,
div.audition_rejectlist > fieldset > div.fieldset-wrapper {
  clear:both;
  position:relative;
}
div.audition_signup_mgmt_slots,
div.audition_signup_mgmt_instructions {
  position:relative;
  display:block;
  width:100%;
}
div.audition_signup_mgmt_instructions {
  position:relative;
  display:inline-block;
  width:100%;
  clear:both;
}
div.audition_signup_mgmt_instructions > div.form-item
div.audition_signup_mgmt_instructions div.audition_signup_mgmt_button_descs {
  display:inline-block;
  margin-bottom:0.5em;
  position:relative;
}
div.audition_signup_mgmt_instructions div.audition_signup_mgmt_button_descs {
  max-width:35%;
  position:relative;
  white-space:normal;
  float:right;
}
div.audition_signup_mgmt_instructions > div.form-item {
  width:100%;
  margin-bottom:0px;
  padding-bottom:0px;
}
div.audition_signup_mgmt_instructions > div.audition_signup_mgmt_button_descs div {
  font-size:x-small;
}
div.audition_signup_mgmt_button_descs img {
  max-width:1em;
  max-height:1em;
}
div.audition_signup_mgmt_submit {
  font-size:x-small;
  display:block;
/*  float:left; */
}

fieldset.auditioneer_audition_signup_contact_panel {
  padding:0px;
  border:0px;
  margin-bottom:1em;
}
fieldset.auditioneer_audition_signup_contact_panel div.form-item {
  display:inline-block;
  margin-top:0px;
  margin-bottom:0px;
}
fieldset.auditioneer_audition_signup_contact_panel input {
  font-size:small;
}

div.audition_signup_mgmt_submit input.audition_signup_mgmt_bigbutton {
  display:block;
  margin-bottom:0.2em;
  margin-top:0.5em;
/*
  position:relative;
  padding:0px;
  height:3em;
  width:3em;
  border:0.5em solid #e4e4e4;
  border-left:2em solid #e4e4e4;
  border-right:2em solid #e4e4e4;
  border-radius:0.5em;
  vertical-align:middle;
  box-shadow: 0.2em 0.2em 0.1em #888888;
*/
}
div.audition_rejectlist > fieldset.form-wrapper > div.fieldset-wrapper,
div.audition_waitlist > fieldset.form-wrapper > div.fieldset-wrapper,
fieldset.audition_mgmt_table > div.fieldset-wrapper,
fieldset.audition-mgmt-group-block > div.fieldset-wrapper {
  padding-left:0px;
  padding-right:0px;
}

div.audition_signup_mgmt_instructions div.form-item-interval label,
div.audition_signup_mgmt_instructions div.form-item-interval {
  font-size:x-small;
  line-height:1.2em;
  display:inline-block;
}
div.audition_signup_mgmt_instructions {
  line-height:1.2em;
  font-size:x-small;
}
div.audition_signup_mgmt_button_descs {
  line-height:1.2em;
  float:right;
  margin-bottom:0px;
}
div.audition_signup_mgmt_bigbuttons {
  max-width:60%;
  line-height:1.2em;
  display:inline-block;
  float:left;
}
div.audition_signup_mgmt_finalize {
  display:inline-block;
  text-align:right;
  white-space:normal;
  float:right;
  max-width:35%;
}
div.audition_signup_mgmt_finalize input {
  display:block;
  font-size:medium;
  clear:both;
  float:right;
  border:1px dotted red;
  margin-bottom:0.2em;
}
div.audition_signup_mgmt_finalize p {
  clear:both;
  text-align:right;
  margin-top:0.5em;
  margin-bottom:0px;
}

a.auditioneer_printlink {
  font-size:medium;
  clear:right;
  line-height:1.2em;
  float:right;
}
a.auditioneer_printlink img {
  max-height:1.1em;
  max-width:1.1em;
}
input.audition_signup_cancel {
  border:1px solid red;
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry div.auditioneer_popup_panel,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry div.auditioneer_popup_panel,
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry div.auditioneer_popup_panel,
div.auditioneer_popup_panel {
  position:fixed;
  z-index:101;
  font-size:small;
  bottom:1em;
  background-color:white;
  color:black;
  display:none;
  padding:1.5em;
  box-shadow: 10px 10px 5px #888888;
  border-radius:1em;
  border:1px solid black;
}
div.auditioneer_popup_panel div.auditioneer_popup_buttons {
  position:absolute;
  top:0.25em;
  right:0.25em;
}
div.auditioneer_popup_panel div.auditioneer_popup_buttons span {
  cursor:pointer;
}
div.auditioneer_popup_panel div.auditioneer_popup_buttons img.auditioneer_pin {
  max-height:1.2em;
  max-width:1.2em;
  display:none;
}
div.auditioneer_popup_panel.pinned {
  border:2px solid black !important;
}
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry div.auditioneer_popup_panel {
  right:1em;
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry div.auditioneer_popup_panel,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry div.auditioneer_popup_panel {
  left:1em;
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry:hover div.auditioneer_popup_panel a,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry:hover div.auditioneer_popup_panel a,
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry:hover div.auditioneer_popup_panel a {
  color:#0074BD;
  text-decoration:none;
}
div.audition_waitlist fieldset.audition_mgmt_waitlist_entry:hover div.auditioneer_popup_panel a:hover,
div.audition_rejectlist fieldset.audition_mgmt_reject_entry:hover div.auditioneer_popup_panel a:hover,
div.audition_signup_mgmt_form fieldset.audition_mgmt_slot_entry:hover div.auditioneer_popup_panel a:hover {
  text-decoration:underline;
}

div.auditioneer_hide_draggable td.field-multiple-drag {
  display:none;
}
